
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    
    /* colors */
    --background-color: #FFF7F0;
    --primary-color:#2176ff;
    --secondary-color:#33a1fd;
    --border-color:#f35b04;
    --light-primary-color:#3d348b;
    --section-color:#CAF0FB;
    --MAHA :C1A9D9
    
    /* radias */

    --small-radias:8px;
    --large-radias:24px;
    --medium:16px;
}
   


body{
    /* max-width: 1180px; */
    margin: 0 auto;
    
    
}




header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background-color);
    padding-inline: 5%;
    

}
.logo-image{
    color: var(--primary-color);
}

.navbar li{
    display: inline-block;
    list-style: none;
}

.navbar a{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--background-color);
    background: var(--primary-color);
    gap: 24px;
    border-radius: var(--medium);
    justify-content: space-between;
}

.navbar li a:hover{
    background:var(--secondary-color);
}

.singup{
    border: 2px solid black;
    padding-block: 3px;
    padding-inline: 0;
    border-radius: 20px;

}
.hero-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    background: var(--background-color);
    padding-inline: 6%;
    
}
.left-container{
    display: block;
    text-align: justify;
    align-items: center;

}


.title{
    text-align: center;
    font-size: 1.9rem;
    font-weight: 700;
    color:#f79824;
}
.left-container h1{
    text-align: center;
  gap: 30px;
    font-size: 1.8rem;
    color: var(--border-color);

}

.left-container p{
    font-size: 1.2rem;
    font-weight: 200;
   
}

.buttons{
    margin-block: 20px;
    margin-inline: 20px;
    
  
    
}

.btn{
    padding: 10px 20px ;
   background: var(--primary-color);
   border-radius: var(--medium);
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--background-color);
   
}


.right-container img{
    width: 100%;
    
    border-radius: var(--small-radias);

}



.Our-Services{
    margin-top: 60px;
    padding-inline: 5%;
    background: var(--background-color);
 
}
.title h1{
    margin-block: 18px;
    text-align: center;
    box-decoration-break: slice;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    justify-content: center;
}

#our{
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.3;
    box-shadow: 0 4px 5px 1px rgba(0, 00, 0, 0.6);
    padding: 7px;
   background: var(--section-color);
}

#our:hover{
    transform: scale(.90);
}
.fa-solid{
    font-size: 1.8rem;
    color: rgb(2, 78, 88);
    margin-inline: 134px;
}
#our h2{
  margin-inline: 130px;
   margin-block: 0.6rem;
}

.footer{
     background-color:rgb(5, 5, 5); 
     margin-top: 4px;
    width:100%;
   
}


    .grid-footer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        justify-content: space-between;
    }
.title-time{
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-inline: 10px;
  
}

.time li{
    list-style: none;
    color: rgb(232, 209, 209);
    margin-right: 10px;
    padding-block: 10px;
    padding-inline: 10px;
    

}
.title-location{
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}


.location li{
    list-style: none;
    color: rgb(232, 209, 209);
    padding-block: 10px;
}
.contact-title{
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
}
.contact li {
    list-style:  none;
    color: rgb(232, 209, 209);
    padding-block: 10px;
}
.fa-facebook {
    color: blue;
    font-size: 1.8rem;
    margin-top: 10px;
}

.fa-whatsapp{
    color: rgb(134, 214, 15);
    font-size: 1.8rem;

}

.fa-envelope{

    font-size: 1.8rem;
    margin-top: 10px;

